<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="Password=12211439219;User ID=sa;Initial Catalog=kell;Data Source=122.114.39.219" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="host" value="127.0.0.1"/>
    <add key="module" value="USB Controller"/>
    <add key="K1" value="大厅灯"/>
    <add key="K2" value="电饭锅"/>
    <add key="K3" value="热水器"/>
    <add key="K4" value="空调"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
